* {
	color:#fff;
	text-shadow:-1px 1px 5px #000;
	border-radius:5px;
	backface-visibility: hidden;
}
ul {
	list-style:none;
	margin:0;
	padding:0;
}
body {
	font-family:Helvetica;
	overflow:hidden;
}
header {
	margin-bottom:30px;
}
header nav {
	position:absolute;
	right:10px;
	bottom:10px;
}
main {
	width:440px;
	word-spacing:-.3em;
	margin:auto;
}
button {
	box-sizing:border-box;
	background:
		linear-gradient(to bottom, #eef 0%, #cde 50%, #bcd 51%, #eef 100%) 0 0/100% 100% no-repeat;
	border-radius:5px;
	font-size:20px;
	margin:5px;
	padding:15px;
}
main button {
	font-size:50px;
	width:100px;
	height:100px;
	background:
		linear-gradient(to right, #88f, #55f) 0 bottom/0 8px no-repeat,
		linear-gradient(to bottom, #eef 0%, #cde 50%, #bcd 51%, #eef 100%) 0 0/100% 100% no-repeat;

	transition:background-size 0s linear;

	font-weight:bold;
	position:relative;
}
main button:before {
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	left:0;
	right:0;
	top:0;
	bottom:0;
	content:'';
	z-index:100;
}
main button.playing {
	background-size: 100% 8px, 100% 100%;
	outline:none;
	border:4px outset #88f;
}
main button.next {
	border:4px solid orange;
}
.pattern {
	width:424px;
	height:44px;
	background:
		radial-gradient(circle at 24px 24px, #b88 0, #b00 21px, transparent 23px) 0 0/48px 48px no-repeat,
		linear-gradient(to bottom, #bcd 0%, #eef 100%);
	overflow:hidden;
	position:relative;
	margin:5px auto;
	border:2px outset #bbb;
	border-radius: 5px;
	padding:2px;
}
.pattern:before {
	content:'+';
	position:absolute;
	top:2px;
	left:2px;
	width:44px;
	text-align:center;
	font-size:44px;
	line-height:44px;
	opacity:.75;
	z-index:1;
}
.pattern ul {
	display:inline-block;
	padding:2px;
	font-size:25px;
	font-weight:bold;
	position:absolute;
	left:0;
	transition:all 0s linear;
}
.pattern li {
	position:absolute;
	width:40px;
	height:40px;
	top:2px;
	background:radial-gradient(circle at 65% 20%, #fff 0%, #fff 5%, #f00 15%, #800 60%, #600 65%, #600 90%) 0 0/100% 100% no-repeat;
	line-height:40px;
	text-align:center;
	border-radius:20px;
}
.vocal {
	text-align:center;
	font-size:100px;
	font-weight:bold;
}
.vocal li {
	position:absolute;
	left:0;
	width:100%;
	text-align:center;
	transition: transform 2s, opacity 5s, top 4s;
	z-index:1;
	transform:rotate(-20deg);
	opacity:1;
	top:100%;
}
.vocal .animate {
	transform:rotate(20deg);
	opacity:0;
	top:-100%;
}
.result {
	color:rgb(255, 136, 68);
	text-shadow:-1px 1px 1px #000;
	font-size:30px;
	font-weight:bold;
	position:relative;
	width:420px;
	margin:5px auto;
	text-transform:uppercase;
	text-align:center;
	left:-190px;
	height:60px;
	transform:perspective(200px) rotateX(-30deg);
}
.result .perfect {
	color:rgb(60, 240, 0);
}
.result .good {
	color:rgb(150, 240, 0);
}
.result .almost {
	color:rgb(240, 120, 0);
}
.result .miss {
	color:rgb(240, 60, 0);
}
.result li {
	position:absolute;
	opacity:1;
	top:-10px;
	transform:translateY(10px);
	text-align:center;
	width:100%;
}
.result .animate {
	opacity:0;
	transform:perspective(200px) rotateX(-45deg) translateY(200px);
	transition:all 3s linear;
}
.score {
	position:absolute;
	right:10px;
	top:115px;
	padding:3px;
	font-size:20px;
	line-height:1;
	font-weight:bold;
	height:20px;
	overflow:hidden;
	width:100px;
	text-align:right;
	padding:2px;
	border:2px outset #ccc;
	border-radius:5px;
	background:
		linear-gradient(180deg, #cde, #def);
	transition: all 1s;
}
.score:before {
	content:'SCORE';
	text-align:center;
	width:100%;
	position:asbolute;
	left:0;
	display:block;
	opacity:.15;
}
.score li {
	position:absolute;
	width:100%;
	top:23px;
	right:3px;
	transition:top .25s;
}
.score .animate {
	top:2px;
}
.score .off {
	top:-20px;
}
.score.complete {
	transform: scale(3);
	right:50%;
	margin-right:-55px;
	top:218px;
}
.tutorial {
	font-size:50px;
	text-align:center;
	width:420px;
	margin:auto;
	font-weight:bold;
	background:#ff8;
	box-shadow:1px 1px 3px #000;
	opacity:0;
	position:absolute;
	width:410px;
	margin-left:-215px;
	left:50%;
	top:100%;
	padding:10px;
	transition:all 1s;
}
.tutorial.show {
	top:290px;
	opacity:.9;
}
.tutorial li {
	transition: all .25s;
}