html {
	height:100%;

	background:url(background.jpg) 0 0/1920px 1028px;
}
header {
	display:block;
	width:100%;
}
h1 {
	box-sizing:border-box;
	display:inline-block;
	width:1920px;
	font-size:100px;
	margin:0;
	text-align:center;
	color:#000;
	text-shadow:0px 0px 10px #f00;
	padding:0 100px;
	background:
		linear-gradient(0deg, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, .5) 100%) 0 0/100% 100%,
		url(logo.svg) 250px 60%/80px 80px no-repeat,
		url(logo.svg) 1590px 60%/80px 80px no-repeat;
}
main {
	transform:
		perspective(400px)
		rotateX(20deg)
		rotateZ(-2.4deg);
	position:absolute;
	left:722px;
	top:255px;
}
main button {
	box-shadow:0px 0px 15px #0f0;
	transition:background 0, box-shadow 1s;
}
main button.playing {
	box-shadow:0px 0px 100px #080;
	xtransition:background 0, box-shadow .5s;
}
.pattern {
	transform:
		perspective(600px)
		rotateX(20deg)
		rotateZ(-1deg)
		translateY(25px) scale(1.1)
		skewX(-17deg);
	transition:all 1s;
	position:absolute;
	left:265px;
	top:730px;
}
.result {
	transform:translate(-20px,20px);
}
.pattern.off,
.score.off {
	transform:perspective(400px) rotateX(-90deg);
}
.score {
	color:#fff;
	transition:all 1s;
	transform:
		perspective(200px)
		scaleX(1.7)
		scaleY(1.6)
		rotateX(20deg)
		skewX(12deg)
		rotateZ(-1.31deg);
	position:absolute;
	left:958px;
	top:222px;
	border-bottom-left-radius:10px;
}
body.scare:after {
	opacity:.8;
	transform:scale(1.9) rotateZ(10deg) translateY(80px) translateX(100px);
}
body:after {
	opacity:0;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:
		radial-gradient(circle at 50% 50%, transparent 60%, rgba(255, 0, 0, 1) 60%, rgba(255, 0, 0, 1) 70%, #000 70%) 0 0/100% 100%,
		linear-gradient(-45deg, transparent 45%, rgba(255, 0, 0, .5) 45%, rgba(255, 0, 0, .5) 55%, transparent 55%) 0 0/100% 100%,
		url('ghost.jpg') 0 0/100% 100%;
	display:block;
	content:'';
	transform:scale(0) rotateZ(-10deg) translateY(-80px) translateX(-100px);
	transition:all .75s;
	margin:-100px;
}
.tutorial {
	left:330px;
	margin:0;
	width:300px;
}
.tutorial.show{
	left:330px;
	top:358px;
	transform:
		perspective(200px)
		rotateZ(-1deg);
}
.score.complete {
	border-radius:5px;
	top:50%;
	left:50%;
	margin-left:-55px;
	margin-top:-38px;
	transform:scale(10);
}
.result {
	position:absolute;
	left:240px;
	top:785px;
	transform:
		perspective(600px)
		rotateX(20deg)
		rotateZ(-1deg)
		translateY(25px)
		scale(1.1)
		skewX(-17deg);
}
.result li {
	text-align:left;
}
.result .animate {
	transform:
		translateY(200px);
	transition:all 3s linear;
}
